.brow-container{
    display: grid;
    grid-template-columns: 1fr;
}
.section1-brow {
    display: grid;
    grid-template-columns: 1fr;
  
}
.section2-brow {
    display: flex;
    flex-direction: column-reverse;

}
.section1-brow-p, .section2-brow-p {
    align-self: center;
    /* margin: 30px 10px 30px; */
    text-align: center;
    padding: 2rem;
    text-align: justify;
}
.editorial1-img,
.editorial2-img {
    height: 600px;
    object-fit: contain;
    max-width: 100%;
    
}

.editorial1-img {
    margin: 2rem 1rem 1rem 1rem;

}
.sectionQuote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
}

.sectionQuote p {
    background-color: var(--lightgrey);
    font-family: "Parisienne", cursive;
    font-size: 2rem;
    margin: 0;
    padding: 3rem 2rem;
    text-align: center;
}

.sectionQuote .quoteAuthor {
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 0;
}

.editorial2-img {
    margin-bottom: 2rem;
    margin-right: 1rem;
    padding-right: 1rem
}
.section1-brow-img, .section2-brow-img {
        width: 100%;
    }
@media screen and (min-width: 480px) {
    .section1-brow-p, .section2-brow-p {
        /* font-size: 12px; */
    }
}
@media screen and (min-width: 768px) {
    .section1-brow {
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }
    .section2-brow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }

}
@media screen and (min-width: 992px) {
 
}
@media screen and (min-width: 1200px) {
}
