.brow-container{
    display: grid;
    grid-template-columns: 1fr;
}
.section1-brow {
    display: grid;
    grid-template-columns: 1fr;
  
}
.section2-brow {
    display: flex;
    flex-direction: column-reverse;

}
.section1-brow-p, .section2-brow-p {
    align-self: center;
    margin: 30px 10px 30px;
    text-align: center;
}
.editorial1-img,
.editorial2-img {
    height: 90%;
    object-fit: cover;
    width: 100%;
}

.editorial1-img {
    margin-top: 2rem;

}

.editorial2-img {
    margin-bottom: 2rem;
}
.section1-brow-img, .section2-brow-img {
        width: 100%;
    }
@media screen and (min-width: 480px) {
    .section1-brow-p, .section2-brow-p {
        /* font-size: 12px; */
    }
}
@media screen and (min-width: 768px) {
    .section1-brow {
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }
    .section2-brow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }

}
@media screen and (min-width: 992px) {
 
}
@media screen and (min-width: 1200px) {
}
