/* Heading and Intro Text Styles */
.contact-text-container {
  display: flex;
  flex-direction: column; 
  padding: 2rem;
  /* border: 1px orange solid; */
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  color: var(--chocolate);
  font-size: 2.5rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  /* color: #000; */
  /* border: 1px green solid; */
}
.border-box-bottom{
    border-bottom: 4px var(--chocolate) solid;
    border-radius: 50px;
    margin: auto;
    width: 40%;
}

.contact-text-container p {
  color: #000;
  margin-top: 20px;
}
/* _________________ */


/* Main Form Grid Styles */
.contact-page-main-container {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  grid-template-areas:
    /* "tex tex" */
    "form form"
    "map map";
}

.contact-text-container {
  grid-area: tex; 
  /* border: 1px blue solid; */
}
.contact-form-container {
  grid-area: form;
  /* border: 1px green solid; */
}
.contact-map-container {
  box-shadow: #5f393f59 5px 5px 15px;
  grid-area: map;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  /* border: 1px blue solid; */
}

/* _________________ */

/* Form Styles */
.form-option-container,
.form-messagebox-container,
.form-info{
  display: flex;
  flex-direction: column;
}
.contact-form-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #5f393f59 5px 5px 15px;
  }
form{
  padding: 10px;
}
.form-label-text{
  padding-top: 10px;
}
  
.form-input{
  border: none;
  border:1px solid #eee;
  border-radius: 5px;
  /* border-radius: 15px; */
  padding: 7px;
}
.form-input:focus{
  border: 1px solid var(--pink);
  outline: none;
}
.form-label-text{
  color: #000;
}
.button-primary-form{
  background-color: #000;
  border: none;
  border-radius: 28px;
  color: var(--white);
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
}
.button-primary-form:hover{
  background-color: rgb(93, 88, 88);
}
select.form-input{
  background-color: #fff;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button-primary.button-primary{
  width: 100%;
  /* margin:1rem auto; */
  /* border-radius: 5px; */
}
/* _________________ */

/* Map Styles */
.map-frame{
  width: 100%;
}
iframe{
    height: 100%;
  }

/* _________________ */


.contact-hero{

  position: relative;
  /* grid-row: 1/2; */
}
.contact-page-hero{
/* opacity: 0.8; */

}
.layer{
  position: absolute;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 500px;
  top: 0;
  z-index: 1;

}
.layer p{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  width: 100%;
  text-align: justify;
}
.layer-border-bottom{
  border-bottom: 4px var(--pink) solid;
  border-radius: 50px;
  /* margin: auto; */
  width: 40%;
}
.contact-layer-header{
  font-family: "Montserrat", sans-serif;
  color: var(--chocolate);
  color: var(--white);
  font-size: 2.5rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  /* text-align: center; */
  font-weight: 600;
}
/* Breaking points */
@media screen and (min-width: 600px){
  .contact-page-main-container{
    grid-gap: 15px;
    padding: 22px 26px;
  }
  .border-box-bottom{
    width: 30%;
  }
  .contact-text-container{
   /* align-items: flex-end; */
  }
  .layer p{
    /* width: 40%; */
  }
}
@media screen and (min-width: 988px){
  .contact-page-main-container{
   grid-template-columns: 2fr 3fr;
   grid-gap: 3rem;
    grid-template-areas: 
     /* "tex form"  */
    "map form" 
    "map form";
  }
  .contact-layer-header {
    text-align: left;
    font-size: 3.5rem;
  }
  .border-box-bottom{
   margin: 0;
  }
  .layer{
    justify-content: start;
  }
  .layer p{
    font-weight: 400;
    width: 40%;
  }
  .contact-map-container{
    margin-top: 0;
  }
}
@media screen and (min-width: 1068px){
  .contact-page-main-container{
    padding: 40px;
  }
  .contact-page-main-container {
    /* grid-gap: 20px; */
  }
  .map-frame{
    height: 100%;
  }
}
@media screen and (min-width: 1310px){
  .contact-page-main-container{
    padding: 50px;
  }
  .contact-page-main-container {
    grid-gap: 40px;
  }
}

