/* Hero general styles */
.hero-image{
  height: 500px;
  margin: 0rem 0 2rem 0;
  object-fit: cover;
  object-position: center 25%;
  width: 100%;
}

/* Main page Hero styles */
.hero-image.main-page-hero{
  object-position: 35% 25%;
  margin-top: 0px;
}
/* Special Occasion page Hero styles */
.hero-image.special-occasions-hero{
  object-position: 0% 0%;
  margin-top: 0px;
}
/* Bridal page Hero  styles */
.hero-image.bridal-page-hero{
  object-position: 35% 30%;
}
/* Conctact page Hero  styles */
.hero-image.contact-page-hero{
  object-position: 27% 10%;
}
@media screen and (min-width: 500px) {
  /* Special Occasions page Hero  styles */
  .hero-image.special-occasions-hero{
    height: 570px;
    object-position: 0% 24%;
  }
}
@media screen and (min-width: 500px) {
  /* Conctact page Hero  styles */
/* .hero-image.contact-page-hero{
  object-position: 90% 10%;
} */
}