/* Hero general styles */
.hero-image-container{
}
.hero-image{
  height: 500px;
  margin: 2rem 0;
  object-fit: cover;
  object-position: center 25%;
  width: 100%;
}

/* Main page Hero  styles */
.hero-image.main-page-hero{
  object-position: 35% 25%;
}
/* Bridal page Hero  styles */
.hero-image.bridal-page-hero{
  object-position: 35% 30%;
}
@media screen and (min-width: 992px) {
  /* Special Occasions page Hero  styles */
  .hero-image.special-occasions-hero{
    object-position: 35% 40%;
  }
}