.top-nav-container {
  background-color: whitesmoke;
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav p {
  color: var(--black);
  margin-bottom: 0;
}
.social-icon,
.icon {
  color: rgb(11, 29, 46);
  margin: 0 0.5rem;
  transition: all 0.5s ease;
}
.social-icon:hover {
  opacity: 0.8;
}

.dropbtn {
 display: flex;
}

@media screen and (min-width: 480px) {
  /* top-nav styles */
  .top-nav-container {
    display: flex;
  }
}
/* .logo {
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  border-radius: 50px;
 } */
.logo-img {
  height: 60px;
  display: grid;
  align-items: center;
  }

.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.dropdown .dropbtn {
  font-stretch: semi-expanded;
  width: 100%;
  font-size: 16px;
  border: transparent;
  border-radius: 15px;
  color: rgb(5, 5, 5);
  padding: 14px 16px;

  transition: 0.5s ease-in;
}

.dropbtn {
  width: 0%;
}
.dropbtn:focus {
  outline: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  cursor: pointer;
  border-radius: 15px;
  text-decoration: underline;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  position: absolute;
  height: 70vh;
  top: 50px;
  right: -10px;
  box-shadow: 0px 8px 16px 0px rgba(19, 11, 11, 0.2);
  border-radius: 10px;
  background-color: var(--chocolate);
  transition: 0.9s ease-in-out;
 }

/* @media screen and (min-width: 830px) {
   .hamburger-menu {
    display: none;
  } 

  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    background-color: whitesmoke;
    font-family: inherit;
    width: 100%;
    right: 0;
    top: 0;
    height: 70px;
    position: sticky;
  }
  .navbar a {
    color: rgb(44, 28, 28);
    height: 50px;
    transition: all 0.5s ease;
    border-radius: 15px;
  } */

.dropbtn {
  background-color: transparent;
  }
/* .dropdown-content a:hover {
  text-transform: underline;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  /* border-bottom: lightgrey solid 0.5px; */
  background-color: transparent;
  height: 70px;
}

.burger-menu {
  display: none;
}
.burger-menu-div {
  height: 0.15rem;
  border-radius: 5px;
  transform-origin: 1px;
  transition: all 0.35s linear;
}

@media screen and (max-width: 768px) {
  .dropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    justify-content: space-evenly;
    top: 40px;
    left: auto;
    right: -30px;
    height: 80vh;
    width: 200px;
    padding-right: 10px;
    background-color: rgb(80, 47, 122);
    border-radius: 5px;
    z-index: 2000;
  }
  .dropdown .dropbtn {
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    color: rgb(243, 239, 239);
    padding: 14px 16px;
    transition: 0.5s ease-in;
  }
  .burger-menu {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
    /* position: fixed; */
    top: 15px;
    right: 50px;
    left: auto;
    right: 20px;
    cursor: pointer;
    z-index: 100;
  }
}
@media screen and (min-width: 768px) {

  .navbar {
  /* border-bottom: lightgrey solid 0.5px;  */
  
  margin-bottom:1rem; 
}
.logo-img {
 
  align-self:flex-start;
  }
}