/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
:root {
  --chocolate: #5f393f;
  --pink: #c9a9ab;
  --grey: #666;
  --white: #fff;
  --black: #000;
  --lightgrey: #eee;
}

.App {
  text-align: center;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--chocolate);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.section1-Brows {
  display: flex;
}
.section2-Brows {
  display: flex;
}
img {
  margin: 10px;
} */

/* MEDIA QUERY */

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
