.loyalty-gift-cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
}
.loyalty-card-container {
  display: grid;
  grid-template-columns: 1fr;
}
.gift-card-container {
  /* display: grid;
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column-reverse;
}
.loyalty-card-p,
.gift-card-p {
  text-align: center;
  margin: 30px 10px 30px;
}
.evening-article-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loyalty-card-img, .gift-card-img {
  width: 100%;
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
 .loyalty-card-container {
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
 }
 .gift-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
 }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
