.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-btn-container input {
  cursor: pointer;
}
.slider-img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
